.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	z-index: 10;
}

.loader img {
	width: 100px;
	height: auto;
}

.loader h3 {
	margin-left: 10px;
	font-size: 50px;
	font-weight: 300;
	color: #322a26;
	font-family: 'Poppins', sans-serif;
}
